body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.equal-btn {
    background-color: #007BFF;
    grid-column: span 2;
}

.equal-btn:hover {
    background-color: #0056b3;
}

.zero-btn {
    grid-column: span 2;
}
